<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default}">

<section layout:fragment="contents">
    <div class="container mt-5">
        <div class="card p-5 shadow-lg">
            <h3 class="text-center mb-4">회원가입</h3>

                <div class="form-group">
                    <label for="loginId">아이디</label>
                    <div class="d-flex">
                   		<input type="text" id="loginIdInput" placeholder="아이디를 입력해주세요" class="form-control">
                  		<button type="button" class="btn btn-info btn-sm col-2" id="duplicateCheckBtn">중복확인</button>
                	</div>
                  	<div class="small text-danger d-none" id="loginIdError">아이디를 입력해주세요.</div>
           			<div class="small text-success d-none" id="availableText">사용 가능한 ID 입니다.</div>
					<div class="small text-danger d-none" id="duplicateText">중복된 ID 입니다.</div>
					<div class="small text-danger d-none" id="haveToCheck">아이디 중복 확인이 필요합니다.</div>
                </div>

                <div class="form-group">
                    <label for="password">비밀번호</label>
                    <div class="input-group">
	                    <input type="password" id="passwordInput" placeholder="비밀번호를 입력해주세요" class="form-control">
	                    <div class="input-group-append">
	                        <button type="button" class="btn btn-outline-secondary" id="togglePassword">보기</button>
	                    </div>
                    </div>
                    <div class="small text-danger d-none" id="passwordError">비밀번호를 입력해주세요.</div>
                </div>

                <div class="form-group">
                    <label for="name">이름</label>
                    <input type="text" id="nameInput" placeholder="이름을 입력해주세요" class="form-control">
                    <div class="small text-danger d-none" id="nameError">이름을 입력해주세요.</div>
                </div>

                <div class="form-group">
                    <label for="nickName">닉네임</label>
                    <input type="text" id="nickNameInput" placeholder="닉네임을 입력해주세요" class="form-control">
                    <div class="small text-danger d-none" id="nickNameError">닉네임을 입력해주세요.</div>
                </div>

                <div class="form-group">
                    <label for="birthday">생년월일</label>
                    <input type="date" id="birthdayInput" placeholder="생년월일을 입력해주세요" class="form-control">
                    <div class="small text-danger d-none" id="birthdayError">생년월일을 입력해주세요.</div>
                </div>

                <div class="form-group">
                    <label for="email">이메일</label>
                    <input type="email" id="emailInput" placeholder="이메일을 입력해주세요" class="form-control">
                    <div class="small text-danger d-none" id="emailError">이메일을 입력해주세요.</div>
                </div>


	            <!-- 성별 선택 라디오 인풋 -->
                <div class="form-group">
                    <label>성별</label>
                    <div class="d-flex">
                        <div class="form-check form-check-inline mr-3">
                            <input class="form-check-input" type="radio" id="male" name="gender" value="male" checked>
                            <label class="form-check-label" for="male">남성</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" id="female" name="gender" value="female">
                            <label class="form-check-label" for="female">여성</label>
                        </div>
                    </div>
                </div>
        		<button type="button" class="btn btn-success btn-block mt-4" id="joinBtn">가입하기</button>
        </div>
    </div>
</section>

<script layout:fragment="script">
	$(document).ready(function() {

		var isDuplicateChecked = false;
		var isDuplicateId = true;

		// 아이디 입력 시 중복확인 상태 초기화
		$("#loginIdInput").on("input", function() {

			isDuplicateChecked = false;

		    $("#availableText").addClass("d-none");
		    $("#duplicateText").addClass("d-none");
		    $("#loginIdError").addClass("d-none");
		    $("#haveToCheck").addClass("d-none");
		    $("#loginIdInput").removeClass("is-invalid");

		});
		
		$("#passwordInput").on("input", function(){
			
			$("#passwordError").addClass("d-none");
			$("#passwordInput").removeClass("is-invalid");
		});
		
		$("#nameInput").on("input", function() {
			
			$("#nameError").addClass("d-none");
			$("#nameInput").removeClass("is-invalid");
		});
		
		$("#nickNameInput").on("input", function() {
			
			$("#nickNameError").addClass("d-none");
			$("#nickNameInput").removeClass("is-invalid");
		});
		
		$("#birthdayInput").on("input", function() {
			
			$("#birthdayError").addClass("d-none");
			$("#birthdayInput").removeClass("is-invalid");
			
		});
		
		$("#emailInput").on("input", function() {
			
			$("#emailError").addClass("d-none");
			$("#emailInput").removeClass("is-invalid");
		});
		

		// 중복확인 버튼 클릭 시
		$("#duplicateCheckBtn").on("click", function() {

			let loginId = $("#loginIdInput").val();

			if (loginId == "") {
				$("#loginIdInput").addClass("is-invalid"); // Bootstrap의 is-invalid 클래스
				$("#loginIdError").removeClass("d-none");
			    return;
			}

			$.ajax({
				type:"get"
				, url: "/user/duplicateIdCheck"
				, data: {"loginId": loginId}
				, success:function(data) {

					isDuplicateChecked = true;
					isDuplicateId = data.isDuplicateId;

					if (data.isDuplicateId) {
						$("#duplicateText").removeClass("d-none");
						$("#availableText").addClass("d-none");
						$("#haveToCheck").addClass("d-none");
					} else {
						$("#availableText").removeClass("d-none");
						$("#duplicateText").addClass("d-none");
						$("#haveToCheck").addClass("d-none");
					}
				}
				,error:function () {
					alert("중복확인 에러 !!");
				}
			});

		});

		// 가입하기 버튼 클릭 시
		$("#joinBtn").on("click", function () {

			let loginId = $("#loginIdInput").val();
			let password = $("#passwordInput").val();
			let name = $("#nameInput").val();
			let nickName = $("#nickNameInput").val();
			let birthday = $("#birthdayInput").val();
			let email = $("#emailInput").val();
			let gender = $("input[name='gender']:checked").val();

			// 유효성 검사
			if (loginId == "") {
				$("#loginIdInput").addClass("is-invalid");
				$("#loginIdError").removeClass("d-none");
				return;
			}

			if (password == "") {
				$("#passwordInput").addClass("is-invalid");
				$("#passwordError").removeClass("d-none");
				return;
			}

			if (name == "") {
				$("#nameInput").addClass("is-invalid");
				$("#nameError").removeClass("d-none");
				return;
			}

			if (nickName == "") {
				$("#nickNameInput").addClass("is-invalid");
				$("#nickNameError").removeClass("d-none");
				return;
			}

			if (birthday == "") {
				$("#birthdayInput").addClass("is-invalid");
				$("#birthdayError").removeClass("d-none");
				return;
			}

			if (email == "") {
				$("#emailInput").addClass("is-invalid");
				$("#emailError").removeClass("d-none");
				return;
			}

			// 중복 확인 여부
			if (!isDuplicateChecked) {
				$("#loginIdInput").addClass("is-invalid");
				$("#haveToCheck").removeClass("d-none");
				return;
			}

			// 회원가입 처리
			$.ajax({
				type: "post"
				, url: "/user/join"
				, data: {
					"loginId": loginId
					, "password": password
					, "name": name
					, "nickName": nickName
					, "birthday": birthday
					, "email": email
					, "gender": gender
				}
				, success:function(data) {
					if (data.result == "success") {
						location.href = "/user/login-view";
					} else {
						alert("회원가입 실패 !!");
					}
				}
				, error:function () {
					alert("회원가입 에러!!");
				}
			});

		});

	});
	
	// 비밀번호 토글 버튼 보기, 숨기기
    $("#togglePassword").on("click", function() {
        let password = $("#passwordInput");
        let type = password.attr("type");

        if(type == "password") {
        	password.attr("type", "text");
        	$(this).text("숨기기");
        } else {
        	password.attr("type", "password");
        	$(this).text("보기");
        }
        
    });

</script>

</html>