<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	
 	<header class="d-flex align-items-center justify-content-between mt-4">
        <h1 class="ml-3">MovieCrew</h1>
	        <nav>
				<ul class="nav nav-fill">
		            <li class="nav-item"><a class="nav-link" href="#">Introduce</a></li>
		            <li th:if="${session.userId != null}" class="nav-item">
		            	<a class="nav-link" href="/crew/crew-view">Crew</a>
		            </li>
		            <li class="nav-item">
		            	<a class="nav-link" href="/movie/ranking">MovieRanking</a>
		            </li>
		            <li th:if="${session.userId == null}" class="nav-item">
		            	<a class="nav-link" href="/user/login-view">Login</a>
		            </li>
		            
		            <li th:if="${session.userId != null}" class="nav-item">
		            	<a class="nav-link" href="/user/edit-view">Mypage</a>
		            </li>
		            <li th:if="${session.userId != null}" class="nav-item">
		                <span class="nav-link" th:text="|${session.userNickName} 님|"></span>
		            </li>
		            <li th:if="${session.userId != null}" class="nav-item">
		                <a href="/user/logout" class="nav-link">로그아웃</a>
		            </li>
		        </ul>
	        </nav>
    </header>

</html>